h1{
	text-align: center;
	font-size: 60px;
	background-color: #EDD382; /*blue*/
	color: #D80032;
	padding: 7px 7px 7px 7px;
	font-family: "Helvetica", serif;

}

h2{
	font-size: 40px;
	padding-bottom: 5px;
	font-family: "Helvetica", serif;
	background-color: #D80032; 
	color: #EDD382;
}

h3{
	font-size: 20px;
	font-family: "Helvetica", serif;
}

h4{
	font-family: "Helvetica", serif;
	font-size: 30px;
	font-family: "Helvetica", serif;
}

table {
  	border-collapse: separate;
  	border-spacing: 50px 0;
}

td {
  	padding: 10px 0;
}